.footer {
  background-color: #232f3e;
  min-width: 1000px;
  position: relative;
  box-sizing: border-box;
  margin: 30px 0px 8px 0px;
}

.footer > a {
  text-decoration: none;
}

.footer__backtoTop {
  margin-bottom: 40px;
  background-color: #37475a;
}
.footer__backtoTop:hover {
  background-color: #485769;
}
.footer__backtoTopText {
  color: #fff;
  display: block;
  text-align: center;
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
}

.footer__link {
  font-size: 12px;

  text-align: center;
}

.footer__link img {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
